@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>A Quark é fruto do projeto de conclusão do curso técnico de desenvolvimento de sistemas da ETEC Prof Basilides de Godoy.</p>
