@{
    ViewBag.Title = "Venha conhecer nossa loja física";
}
<h2>@ViewBag.Title.</h2>


<address>
    ETEC VIla Leopoldina
    Rua Guaipá, 500
    Vila Leopoldina
    São Paulo - SP
    CEP 05089-000
</address>

<address>
    <!-- INSERIR UM GOOGLE MAPS AQUI!! -->
</address>

<!-- INSERIR UM FORMS DE CONTATO COM MAILTO E UM BOTÃO WHATSAPP SE PRECISAR!! -->