@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rua Guaipá, 500
    Vila Leopoldina
    São Paulo - SP
    CEP 05089-000
</address>

<address>
    <!-- INSERIR UM GOOGLE MAPS AQUI!! -->
</address>

<!-- INSERIR UM FORMS DE CONTATO COM MAILTO E UM BOTÃO WHATSAPP!! -->